
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<h1>{{title}}</h1>
<!-- Function is called in the view -> Function will be called each time the component is rendered-->
<!--<p [class]="titleStyle">{{add(10,11)}}</p>-->

<!-- Function has already been called and only the result is shown -->
<!--<p [class]="titleStyle">{{lazyMultiply}}</p>-->


<br><br>

<app-alert-button></app-alert-button>
<app-alert-button alertMsg="Hallo" buttonTxt="Don´t click me"></app-alert-button>
<app-alert-button alertMsg="By" buttonTxt="X"></app-alert-button>
